# Video Game Purchases

You've been assigned the task of analyzing the data for a fantasy game. Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

In [83]:
# Dependencies and Setup
import pandas as pd
import dataframe_image as dfi

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.DataFrame(pd.read_csv(file_to_load))

### Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [84]:
# Run basic calculations
revenue = purchase_data["Price"].sum()
items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()

# Create a summary data frame to hold the results; Optional: give the displayed data cleaner formatting
purchasing_summary = pd.DataFrame({
    "Unique Items":[items],
    "Average Price":[avg_price],
    "Number of Purchases":[purchases],
    "Total Revenue":[revenue]}).style.format({"Average Price":"${:,.2f}", "Total Revenue":"${:,.2f}"})

#Export Data frame to images
dfi.export(purchasing_summary, 'Images/purchasing_summary.png')

# Display the summary data frame
purchasing_summary

### Player Count

* Display the total number of players

In [85]:
# Extract demographic data from original dataset
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]

# Drop duplicates: screennames can appear more than once if the same screenname is used to makes multiple purchases
player_demographics = player_demographics.drop_duplicates()

# Calculate number of Unique Players
players = player_demographics.count()[0]

# Display as data frame
pd.DataFrame({"Total Players": [players]})

   Total Players
0            576

### Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [86]:
# Calculate the Number and Percentage by Gender
gender_count = player_demographics["Gender"].value_counts()
gender_percents = gender_count / players

# Create data frame, with formatting 
gender_demographics = pd.DataFrame({
    "Total Count":gender_count, 
    "Percentage of Players":gender_percents}).style.format({"Percentage of Players":"{:,.1%}"})

#Export Data frame to images
dfi.export(gender_demographics, 'Images/gender_demographics.png')

# Display data frame
gender_demographics


### Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [88]:
# Run basic calculations
total_spent_by_gender = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
average_spent_by_gender = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
purchase_count_by_gender = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

# Average Total Purchase per Person
average_total = total_spent_by_gender / players

# Create a summary data frame to hold the results 
purchasing_by_gender = pd.DataFrame({
    "Purchase Count": purchase_count_by_gender, 
    "Average Purchase Price": average_spent_by_gender, 
    "Total Purchase Value": total_spent_by_gender, 
    "Average Total Purchase per Person": average_total}).style.format({
                "Average Purchase Price":"${:,.2f}", 
                "Total Purchase Value":"${:,.2f}", 
                "Average Total Purchase per Person":"${:,.2f}"})

#Export Data frame to images 
dfi.export(purchasing_by_gender, "images/purchasing_by_gender.png")

# Display data frame
purchasing_by_gender

### Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [89]:
# Establish bins for ages by 4-year increments (i.e. <10, 10-14, 15-19, etc.)
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize players into age bins with help from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)

# Calculate the Numbers and Percentages by age group
age_counts = player_demographics["Age Ranges"].value_counts()
age_percents = age_counts / players

# Create a summary data frame to hold the results
players_by_age = pd.DataFrame({"Total Count":age_counts, "Percentage of Players":age_percents})

# Optional: round the percentage column to two decimal points
players_by_age['Percentage of Players'] = players_by_age['Percentage of Players'].map("{:,.2%}".format)

# Sort Age Demographics Table
players_by_age = players_by_age.sort_index()

#Export Data frame to images
players_by_age.dfi.export('images/players_by_age.png')

# Display Age Demographics Table
players_by_age

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

### Purchasing Analysis (Age)

* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [92]:
# Cut the Purchasing Data 
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

# Run basic calculations
total_spent_by_age = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
average_spent_by_age = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
purchase_count_by_age = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Average Purchase per person in age group
average_by_age = total_spent_by_age / players_by_age["Total Count"]

# Create a summary data frame to hold the results and give the displayed data cleaner formatting
purchasing_by_age = pd.DataFrame({
    "Purchase Count": purchase_count_by_age, 
    "Average Purchase Price":average_spent_by_age, 
    "Total Purchase Value":total_spent_by_age, 
    "Average Total Purchase per Person":average_by_age}).style.format({"Average Purchase Price":"${:,.2f}", 
               "Total Purchase Value":"${:,.2f}", 
               "Average Total Purchase per Person":"${:,.2f}"})

#Export Data frame to images
dfi.export(purchasing_by_age, "images/purchasing_by_age.png")

# Display the summary data frame
purchasing_by_age

### Top Spenders

* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [95]:
# Run basic calculations
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Create a summary data frame
top_spenders = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

# Sort Table
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)

# Optional: give the displayed data cleaner formatting
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:,.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:,.2f}".format)
top_spenders = top_spenders.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

#Export Data frame to images
top_spenders.head(5).dfi.export("images/top_spenders.png")

# Display a preview of the summary data frame
top_spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

### Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [64]:
# Retrieve the Item ID, Item Name, and Item Price columns
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name.
item_purchase_value = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_price = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create DataFrame
item_data = pd.DataFrame({"Total Purchase Value": item_purchase_value, 
                          "Item Price": average_item_price, 
                          "Purchase Count": item_count})

# Sort Values
sorted_item_count = item_data.sort_values("Purchase Count", ascending=False)

# Optional: give the displayed data cleaner formatting
sorted_item_count["Item Price"] = sorted_item_count["Item Price"].map("${:,.2f}".format)
sorted_item_count["Purchase Count"] = sorted_item_count["Purchase Count"].map("{:,}".format)
sorted_item_count["Total Purchase Value"] = sorted_item_count["Total Purchase Value"].map("${:,.2f}".format)
item_popularity = sorted_item_count.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

#Export Data frame to images
item_popularity.head(5).dfi.export("images/item_popularity.png")

# Display a preview of the summary data frame
item_popularity.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

### Most Profitable Items

* Sort the above table by total purchase value in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the data frame

In [98]:
# Sorted Item Table by total purchase value in descending order
sorted_item_purchase = item_data.sort_values("Total Purchase Value", ascending=False)

# Optional: give the displayed data cleaner formatting
sorted_item_purchase["Item Price"] = sorted_item_purchase["Item Price"].map("${:,.2f}".format)
sorted_item_purchase["Purchase Count"] = sorted_item_purchase["Purchase Count"].map("{:,}".format)
sorted_item_purchase["Total Purchase Value"] = sorted_item_purchase["Total Purchase Value"].map("${:,.2f}".format)
profitable_items = sorted_item_purchase.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
    
# Export Data frame to images
sorted_item_purchase.head(5).dfi.export("images/item_popularity.png")
    
# Display a preview of the data frame
profitable_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80